@page "/slovak-language"

<PageTitle>Slovenský jazyk</PageTitle>

<h1>Slovenský jazyk</h1>

<br><br>

@* <div>
    <label for="word">@display_word</label>
    <input id="word" @bind="answer"></input>
</div> *@

<h1>@display_word</h1>

<br><br>

@if (showButtons)
{
    <button class="btn btn-primary" @onclick="@(() => ProcessAnswer("i"))">i</button>
    <button class="btn btn-primary" @onclick="@(() => ProcessAnswer("í"))">í</button>
    <button class="btn btn-primary" @onclick="@(() => ProcessAnswer("y"))">y</button>
    <button class="btn btn-primary" @onclick="@(() => ProcessAnswer("ý"))">ý</button>
}


@answer

<br><br>
@((MarkupString)GetAnswers())


@code {

    private class WordWithAnswer
    {
        public string Word = "";
        public string Answer = "";
        public int Position = 0;

        public WordWithAnswer(string word, string answer, int position)
        {
            Word = word;
            Answer = answer;
            Position = position;
        }
    }

    private int currentCount = 0;

    private string display_word => GetWord();

    private string word = "história híkať lyže lýtko";
    private string answer = "";


    private List<string> wordsList = new();
    private List<WordWithAnswer> answersList = new();


    private string history = "";

    private int index = 0;
    private bool showButtons = true;


    protected override void OnInitialized()
    {
        // wordsList = new() { "história", "híkať", "lyže", "lýtko" };
        wordsList = new List<string>(strWords1.Split(", "));
    }

    private void ProcessAnswer(string answer)
    {
        answersList.Add(new WordWithAnswer(wordsList[index], answer, display_word.IndexOf("_")));

        if (index < wordsList.Count - 1)
            index++;
        else
            index = 0;
        // showButtons = false;
    }


    private string GetWord()
    {
        if (index <= wordsList.Count - 1)
        {
            return ReplaceChars(wordsList[index]);
        }

        return "";

    }

    private string ReplaceChars(string word)
    {
        return word.ReplaceFirst("y", "_")
                   .ReplaceFirst("ý", "_")
                   .ReplaceFirst("i", "_")
                   .ReplaceFirst("í", "_");
    }

    private bool? CheckWord(string word, string search)
    {
        int pos = word.IndexOf(search);
        if (pos >= 0) {
            if (word.Substring(pos, 1) == search)
                return true;
            else
                return false;
        }

        return null;

    }

    private string CheckAnswer(WordWithAnswer word)
    {
        bool? isTrue = null;

        if (word.Position < 0)
            isTrue = null;
        else
            isTrue = (word.Word.Substring(word.Position, 1) == word.Answer);

        if (isTrue is null) return "black";
        else if ((bool)isTrue) return "#32CD32";
        else return "red";
    }

    private string GetAnswers()
    {
        string str = "";

        for (int i = answersList.Count - 1; i >= 0; i--)
        {
            var word = answersList[i];
            string strColor = CheckAnswer(word);
            str += @$"<div style=""color: {strColor};"">{i+1}. {word.Word} {word.Answer}</div>";
        }

        return str;
    }

    private string strWords1 = "lyko, lysý, lýtko, lyžica, lyžička, plyn, plyš, plytký, slýchať, pomaly, pomaličky, blýskať sa, blýskavica, blízko, priblížiť sa, vzlykať, zlyhať, vplyv, plytvať, plynúť, lyže, lyžovať sa, lyžiar, lyžovačka, mlyn, mlynár, mlynček, mlynský, dym, lýtko, hymna, týždeň, jaskyňa, kuchyňa, štyri, pekný, dýchať, oddych, dotyk, dotýkať sa, motýľ, tykadlo, dýka, kývať, gymnázium";


// 2.) k_no, k_nosála, k_nofilm, k_mono, k_k_ríkať , k_k_riky, ch_chotať sa, ch_-ch_, k_lo, k_logram, k_lometer, m_l_meter, H_lda, G_zela, Marg_ta, Reg_na, Ol_via, Den_sa, Mart_na, Mart_n, Ed_tka, T_bor, Just_na, Valent_n, T_mea, Bon_fác, Mon_ka, Veron_ka, Dom_n_ka
// 3.) h_kať, h_t, h_tparáda, h_stória, h_storik, h_jó, h_-h_, ch_chotať sa, ch_chúňať sa, ch_chot, t_kať t_k-tak, t_p-top, ch_rurg, ch_rurgia, arch_tekt, arch_v, k_b_covať, k_v_, g_tara, g_gant, log_ka, leg_ny, ang_na, g_tovať, g_rlanda, t_ger, t_tul, kl_ma, l_ter, l_cencia, t_p, t_povať, t_m
// 4.) č_tať, č_žmy, poč_tač, dž_p, ž__ci, ž_rafa, cudz_, cudz_nec, vaj_čko, š_pka, uč_ sa, dž_nsy, č_tanka, š_ška, koš_k, záž_tok, ž_vot, ž_hľava, dž_n, š_bal, š_p, paž_tka, oč_, háč_k, ž_hadlo, kruž_dlo, už_točný, palac_nky, c_trón, c_tiť, cudz_, dvoj_ca, prenaj_mať, poc_t, poc_tiť, všetc_, c_sterna, c_cer, medz_, kraj_na, maj_teľ, c_cavec, c_rkus, mam_čka, sestern_ca, hl_na, n_kdy,
// 5.) C_ril, C_prián, C_prus, c_kl_st_ka, b_c_kel, c_klámenová farba, klobúk c_linder, c_klón, rec_klovať
// 6.) ďatel_na, ťaž_ť, ž_ť, ž_vot, p_šťalka, č_táreň, svadobná s__ň, kn_žka, rod_čia, kn_ha, t_cho, sl_že, bud_k, chodn_k, plesn_vý, d_vadlo, mal_na, mal_novka, kon_k, ul_ca, cuml_k, záhradn_k, l_zať, l_zanka, hod_ny, hod_nár, jašter_ca
// 7.) pn_k, ohn_k, dáždn_k, kabát_k, slon_k, stol_k, ž_to, p_jak, kl_nec, det_, klad_vo, lesn_k, vod_čka, studn_čka, v_let, d_ktát, ten_s, ten_ska, ten_stka, krokod_l, matemat_ka, n_kto, pol_cajt, d_nosaurus, d_skutovať, d_sk, krokod_l, pud_ng, džud_sta, d_gestor, d__ptria, d_spečer, n_kel, l_teratúra, l_ga, republ_ka
// 8.) chodn_k, kl_nce, koľajn_ce, mot_ľ,  t_cho, prázdn_ny, kol_ska, n_ť, sn_vať, kn_žn_ca, n_kto, st_hnúť, d_vadlo, rod_na, tul_pán, sl_mák, kohút_k, t_cho, t_chý, An_čka, n_ť, rod_na, poh_b, ž_rafa, ž_letka, g_mnast_ka, ch_ba, zoš_t, št_ri, c_buľa
// 9.) ch_bajú, kuch_ňa, h_dina, k_vadlo, k_no, k_lometer, g_ps, k_slík, k_logram, mik_na, g_mnázium, ch_ža, poch_tali ich, zak_val, nák_p, brosk_ňa, vyk_nožili, pok_ny, k_priaci prášok, knih_, hrad_, k_jak, h_mna, k_slý, k_snuté cesto, k_tica, ch_tľavá choroba, ch_rurg, mlieko, vyk_pelo, leg_ny, g_tara, g_č, h_stória, poh_b, zah_nul, ch_trý, jask_ňa, k_cha, ch_tačka, japonské k_mono, mag_cké číslo, ch_til
// 10.) pomal_čky, l_st, l_stina, prel_stoval, odl_v, pr_liv, zál_v, pol_ca, pol_čka, bl_zko, pribl_žil, hl_na, hl_nený, kl_nec, sl_na, krasl_ca, l_pa, l_pový čaj, metel_ca, brokol_ca, červené l_ca, l_šajník, l_najkový zošit, žehl_čka, ihl_čie, ľad sa bl_ští, č_slo, č_sl_ca, sl_vka, l_sty, kl_nčeky, zabl_slo sa, stojí bl_zko nás, kol_brík, pal_čky, konval_nky
// 11 k_blik, g_č, k_slé, nák_p, k_mono, kr_dlo, k_chať, cesto nek_sne, k_slá kapusta, ryžový nák_p,


}
